<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div id="content-wrapper">
        <div id="content">
            <app-topbar></app-topbar>
            <div class="container-fluid">
                <div class="nav" style="margin-bottom:10px;">
                    <span><a href="requests">Requests</a></span> &nbsp; / &nbsp;<span>Request Detail</span>
                </div>
                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">{{(RequestID!="")?"Update Request Detail":"Create new Request"}}</h1>
                <div class="row" style="margin-bottom:10px;">
                    <button (click)="SelectCard('basicInformation')"
                        class="btn btn-{{(showBasicInformation?'':'outline-')}}primary" style="margin-right:10px;">
                        <span class="fas fa-check" *ngIf="showBasicInformation"></span> Basic Information</button>
                    <button (click)="SelectCard('airlineCost')"
                        class="btn btn-{{(showAirlineCost?'':'outline-')}}primary" style="margin-right:10px;"> <span
                            class="fas fa-check" *ngIf="showAirlineCost"></span> Airline Costs</button>
                    <button (click)="SelectCard('equipments')" class="btn btn-{{(showEquipments?'':'outline-')}}primary"
                        style="margin-right:10px;"> <span class="fas fa-check" *ngIf="showEquipments"></span>
                        Equipments</button>
                    <button (click)="SelectCard('otherCharges')"
                        class="btn btn-{{(showOtherCharges?'':'outline-')}}primary" style="margin-right:10px;"> <span
                            class="fas fa-check" *ngIf="showOtherCharges"></span> Other Charges</button>
                    <button (click)="SelectCard('progressNotes')"
                        class="btn btn-{{(showProgressNotes?'':'outline-')}}primary" style="margin-right:10px;"> <span
                            class="fas fa-check" *ngIf="showProgressNotes"></span> Progress Notes</button>
                    <!-- <button (click)="SelectCard('summary')" class="btn btn-{{(showSummary?'':'outline-')}}primary" style="margin-right:10px;"> <span class="fas fa-check" *ngIf="showSummary"></span> Summary</button> -->
                </div>

                <div class="row">

                    <div class="col-lg-8" *ngIf="showBasicInformation">
                        <!-- Default Card Example -->
                        <div class="card mb-4">
                            <div class="card-header">
                                Request Information
                            </div>
                            <div class="card-body">
                                <form [formGroup]="RequestForm" (ngSubmit)="SaveRequest()" class="user">
                                    <div class="row">
                                        <div class="form-group" class="col-lg-12">
                                            <label for="">Service Type</label>
                                            <select [(ngModel)]="RequestDetail.ServiceType"
                                                formControlName="ServiceType" class="form-control"
                                                [ngClass]="{'form-submitted': formSubmitted}">
                                                <option value=""></option>
                                                <option value="Air Ambulance" selected> Air Ambulance</option>
                                                <option value="Com Stretcher"> Com Stretcher</option>
                                                <option value="Med Escort"> Med Escort</option>
                                            </select>
                                        </div>
                                        <div class="form-group" class="col-lg-6">
                                            <label for="">Flying From</label>
                                            <input [(ngModel)]="RequestDetail.FlyingFrom" formControlName="FlyingFrom"
                                                type="text" class="form-control"
                                                [ngClass]="{'form-submitted': formSubmitted}"
                                                (keyup)="FlyingFromInputChange($event)">
                                            <app-airport-suggestion *ngIf="IsFlyingFromFocused"
                                                [filteredAirports]="FilteredAirportsFrom"
                                                (AirportSelected)="SelectAirportFrom($event)"
                                                style="height:200px;display:block;overflow-y:scroll;">
                                            </app-airport-suggestion>
                                        </div>
                                        <div class="form-group" class="col-lg-6">
                                            <label for="">Flying To</label>
                                            <input [(ngModel)]="RequestDetail.FlyingTo" formControlName="FlyingTo"
                                                type="text" class="form-control"
                                                [ngClass]="{'form-submitted': formSubmitted}"
                                                (keyup)="FlyingToInputChange($event)">
                                            <app-airport-suggestion *ngIf="IsFlyingToFocused"
                                                [filteredAirports]="FilteredAirportsTo"
                                                (AirportSelected)="SelectAirportTo($event)"
                                                style="height:200px;display:block;overflow-y:scroll;">
                                            </app-airport-suggestion>
                                        </div>
                                        <div class="form-group" class="col-lg-6">
                                            <label for="">Caller Name</label>
                                            <input [(ngModel)]="RequestDetail.CallerName" formControlName="CallerName"
                                                type="text" class="form-control"
                                                [ngClass]="{'form-submitted': formSubmitted}">
                                        </div>
                                        <div class="form-group" class="col-lg-6">
                                            <label for="">Caller Fax</label>
                                            <input [(ngModel)]="RequestDetail.CallerFax" formControlName="CallerFax"
                                                type="text" class="form-control"
                                                [ngClass]="{'form-submitted': formSubmitted}">
                                        </div>
                                        <div class="form-group" class="col-lg-6">
                                            <label for="">Caller Email</label>
                                            <input [(ngModel)]="RequestDetail.CallerEmail" formControlName="CallerEmail"
                                                type="text" class="form-control"
                                                [ngClass]="{'form-submitted': formSubmitted}">
                                        </div>
                                        <div class="form-group" class="col-lg-6">
                                            <label for="">Caller Phone</label>
                                            <input [(ngModel)]="RequestDetail.CallerPhone" formControlName="CallerPhone"
                                                type="text" class="form-control"
                                                [ngClass]="{'form-submitted': formSubmitted}">
                                        </div>
                                        <div class="form-group" class="col-lg-6">
                                            <label for="">Caller Relation with Patient</label>
                                            <input [(ngModel)]="RequestDetail.CallerRelation"
                                                formControlName="CallerRelation" type="text" class="form-control"
                                                [ngClass]="{'form-submitted': formSubmitted}">
                                        </div>
                                        <div class="form-group" class="col-lg-6">
                                            <label for="">Patient Name</label>
                                            <input [(ngModel)]="RequestDetail.PatientName" formControlName="PatientName"
                                                type="text" class="form-control"
                                                [ngClass]="{'form-submitted': formSubmitted}">
                                        </div>
                                        <div class="form-group" class="col-lg-6">
                                            <label for="">Patient Age</label>
                                            <input [(ngModel)]="RequestDetail.PatientAge" formControlName="PatientAge"
                                                type="text" class="form-control"
                                                [ngClass]="{'form-submitted': formSubmitted}">
                                        </div>
                                        <div class="form-group" class="col-lg-6">
                                            <label for="">Patient Weight</label>
                                            <input [(ngModel)]="RequestDetail.PatientWeight"
                                                formControlName="PatientWeight" type="text" class="form-control"
                                                [ngClass]="{'form-submitted': formSubmitted}">
                                        </div>
                                        <div class="form-group" class="col-lg-6">
                                            <label for="">No of Passengers</label>
                                            <input [(ngModel)]="RequestDetail.NoOfPassengers"
                                                formControlName="NoOfPassengers" type="text" class="form-control"
                                                [ngClass]="{'form-submitted': formSubmitted}">
                                        </div>
                                        <div class="form-group" class="col-lg-6">
                                            <label for="">Referred By</label>
                                            <input [(ngModel)]="RequestDetail.ReferredBy" formControlName="ReferredBy"
                                                type="text" class="form-control"
                                                [ngClass]="{'form-submitted': formSubmitted}">
                                        </div>
                                        <div class="form-group" class="col-lg-6">
                                            <label for="">Reason for Transport</label>
                                            <input [(ngModel)]="RequestDetail.ReasonForTransport"
                                                formControlName="ReasonForTransport" type="text" class="form-control"
                                                [ngClass]="{'form-submitted': formSubmitted}">
                                        </div>
                                        <div class="form-group" class="col-lg-12">
                                            <label for="">Medical Briefing</label>
                                            <textarea class="form-control" [(ngModel)]="RequestDetail.MedicalBriefing"
                                                formControlName="MedicalBriefing" name="" id="" cols="30" rows="5"
                                                [ngClass]="{'form-submitted': formSubmitted}"></textarea>
                                        </div>

                                    </div>
                                    <!-- <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck"  >
                                            <label class="custom-control-label" for="customCheck">Remember
                                                Me</label>
                                        </div>
                                    </div> -->
                                    <br>
                                    <button *ngIf="loadingSave" style="font-size:16px" type="submit"
                                        class="btn btn-primary btn-user btn-block" disabled>
                                        <i style="margin-right:5px" class="fas fa-save"></i>Saving Request Data
                                    </button>
                                    <button *ngIf="!loadingSave" style="font-size:16px" type="submit"
                                        class="btn btn-primary btn-user btn-block">
                                        <i style="margin-right:5px"
                                            class="fas fa-save"></i>{{(RequestID=="")?"Save":"Update"}}
                                    </button>

                                </form>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8" *ngIf="RequestID=='' && !showBasicInformation">
                        <div class="mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Please save request first</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-warning fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-8" *ngIf="RequestID!='' && showAirlineCost">
                        <div class="card mb-4">
                            <div class="card-header">
                                Air Line Costs
                            </div>
                            <div class="card-body">
                                <button (click)="AddAirLineCost()" style="margin-bottom:5px;width:40px;"
                                    class="btn btn-sm btn-outline-primary"><span class="fas fa-plus"></span></button>
                                &nbsp;
                                <button style="margin-bottom:5px;" class="btn btn-sm btn-primary"
                                    (click)="showEmailSupplierModal()">Email Supplier for Cost</button>
                                <table *ngIf="!loadingAirLineCosts" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>RQID</th>
                                            <th>Company</th>
                                            <th>Craft</th>
                                            <th>Price</th>
                                            <th>Sell</th>
                                            <th class="text-center"><span class="fas fa-edit"></span></th>
                                            <th class="text-center"><span class="fas fa-trash"></span></th>
                                            <th class="text-center"><span class="fas fa-check"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let alc of AirLineCosts">
                                            <td></td>
                                            <td>{{alc.request_id}}</td>
                                            <td>{{alc.CompanyName}}</td>
                                            <td>{{alc.AirCraft}}</td>
                                            <td>{{alc.Price}}</td>
                                            <td>{{alc.SellFor}}</td>
                                            <td class="text-center"><button (click)="EditAirLineCost(alc)"
                                                    class="btn btn-outline-primary btn-sm"><span
                                                        class="fas fa-edit"></span></button></td>
                                            <td class="text-center"><button (click)="DeleteAirLineCost(alc)"
                                                    class="btn btn-outline-danger btn-sm"><span
                                                        class="fas fa-trash"></span></button></td>
                                            <td class="text-center">
                                                <button *ngIf="alc.Selected=='0'" (click)="SelectAirLineCost(alc)"
                                                    class="btn btn-outline-primary btn-sm"><span
                                                        class="fas fa-check"></span></button>
                                                <span *ngIf="alc.Selected=='1'"
                                                    class="label label-default">selected</span>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8" *ngIf="RequestID!='' && showEquipments">
                        <div class="card mb-4">
                            <div class="card-header">
                                Equipments
                            </div>
                            <div class="card-body">
                                <button (click)="AddEquipments()" style="margin-bottom:5px;width:40px;"
                                    class="btn btn-sm btn-outline-primary"><span class="fas fa-plus"></span></button>
                                <table *ngIf="!loadingEquipments" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Equipment Name</th>
                                            <th>Quantity</th>
                                            <th>Cost</th>
                                            <th class="text-center"><span class="fas fa-edit"></span></th>
                                            <th class="text-center"><span class="fas fa-trash"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let equipment of Equipments">
                                            <td></td>
                                            <td>{{equipment.EquipmentName}}</td>
                                            <td>{{equipment.Quantity}}</td>
                                            <td>{{equipment.Cost}}</td>
                                            <td class="text-center"><button (click)="EditEquipment(equipment)"
                                                    class="btn btn-outline-primary btn-sm"><span
                                                        class="fas fa-edit"></span></button></td>
                                            <td class="text-center"><button (click)="DeleteEquipment(equipment)"
                                                    class="btn btn-outline-danger btn-sm"><span
                                                        class="fas fa-trash"></span></button></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8" *ngIf="RequestID!='' && showOtherCharges">
                        <div class="card mb-4">
                            <div class="card-header">
                                Other Charges
                            </div>
                            <div class="card-body">
                                <button (click)="AddOtherCharges()" style="margin-bottom:5px;width:40px;"
                                    class="btn btn-sm btn-outline-primary"><span class="fas fa-plus"></span></button>
                                <table *ngIf="!loadingOtherCharges" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Charge Name</th>
                                            <th>Amount</th>
                                            <th class="text-center"><span class="fas fa-edit"></span></th>
                                            <th class="text-center"><span class="fas fa-trash"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let oc of OtherCharges">
                                            <td></td>
                                            <td>{{oc.ChargeName}}</td>
                                            <td>{{oc.Amount}}</td>
                                            <td class="text-center"><button (click)="EditOtherCharges(oc)"
                                                    class="btn btn-outline-primary btn-sm"><span
                                                        class="fas fa-edit"></span></button></td>
                                            <td class="text-center"><button (click)="DeleteOtherCharges(oc)"
                                                    class="btn btn-outline-danger btn-sm"><span
                                                        class="fas fa-trash"></span></button></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8" *ngIf="RequestID!='' && showProgressNotes">
                        <div class="card mb-4">
                            <div class="card-header">
                                Progress Notes
                            </div>
                            <div class="card-body">
                                <button (click)="AddProgressNotes()" style="margin-bottom:5px;width:40px;"
                                    class="btn btn-sm btn-outline-primary"><span class="fas fa-plus"></span></button>
                                <table *ngIf="!loadingProgressNotes" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Description</th>
                                            <th>Created</th>

                                            <!-- <th class="text-center"><span class="fas fa-trash"></span></th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let pn of ProgressNotes">
                                            <td></td>
                                            <td style="width:70%">{{pn.Description}}</td>
                                            <td>{{pn.Creation | date}}</td>

                                            <!-- <td class="text-center"><button (click)="DeleteProgressNotes(pn)" class="btn btn-outline-danger btn-sm"><span class="fas fa-trash"></span></button></td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" *ngIf="showSummary">
                        <div class="card mb-4">
                            <div class="card-header">
                                Summary
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Airline Cost</label>
                                    <label style="color:red;" *ngIf="AirlineCostError!=''">{{AirlineCostError}}</label>
                                    <input type="text" disabled
                                        class="form-control {{(AirlineCostError!='')?'invalid':''}}"
                                        value="{{TotalAirlineCost | number:'1.2-2'}}">
                                </div>
                                <div class="form-group">
                                    <label>Equipments Charges</label>
                                    <input type="text" disabled class="form-control"
                                        value="{{TotalEquipmentCost | number:'1.2-2'}}">
                                </div>
                                <div class="form-group">
                                    <label>Other Charges</label>
                                    <input type="text" disabled class="form-control"
                                        value="{{TotalOtherCharges | number:'1.2-2'}}">
                                </div>
                                <div class="form-group">
                                    <label>Total Amount</label>
                                    <input type="text" disabled class="form-control"
                                        value="{{TotalAmount | number:'1.2-2'}}">
                                </div>
                                <button *ngIf="!loadingSave" (click)="CreateOffer()" style="font-size:16px"
                                    type="submit" class="btn btn-primary btn-user btn-block">
                                    <i style="margin-right:5px" class="fas fa-gear"></i>Calculate and Create Offer
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="airLineCostModal">
    <form [formGroup]="AirLineCostForm" (ngSubmit)="SaveAirLineCost()">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add Air Lines Cost</h4>
                    <button type="button" class="close" (click)="hideAirLineCostModal()">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">

                    <div class="form-group">
                        <label for="">Company Name</label>
                        <input [(ngModel)]="CurrentAirLineCost.CompanyName" formControlName="CompanyName" type="text"
                            class="form-control" [ngClass]="{'form-submitted': airlineCostFormSubmitted}">
                    </div>
                    <div class="form-group">
                        <label for="">Air Craft</label>
                        <input [(ngModel)]="CurrentAirLineCost.AirCraft" formControlName="AirCraft" type="text"
                            class="form-control" [ngClass]="{'form-submitted': airlineCostFormSubmitted}">
                    </div>
                    <div class="form-group">
                        <label for="">FT</label>
                        <input [(ngModel)]="CurrentAirLineCost.FT" formControlName="FT" type="text" class="form-control"
                            [ngClass]="{'form-submitted': airlineCostFormSubmitted}">
                    </div>
                    <div class="form-group">
                        <label for="">STP</label>
                        <input [(ngModel)]="CurrentAirLineCost.STP" formControlName="STP" type="text"
                            class="form-control" [ngClass]="{'form-submitted': airlineCostFormSubmitted}">
                    </div>
                    <div class="form-group">
                        <label for="">Comments</label>
                        <textarea [(ngModel)]="CurrentAirLineCost.Comments" class="form-control"
                            formControlName="Comments" name="" id="" cols="30" rows="5">
                    </textarea>
                    </div>
                    <div class="form-group">
                        <label for="">Price</label>
                        <input [(ngModel)]="CurrentAirLineCost.Price" formControlName="Price" type="text"
                            class="form-control" [ngClass]="{'form-submitted': airlineCostFormSubmitted}">
                    </div>
                    <div class="form-group">
                        <label for="">Sell For</label>
                        <input [(ngModel)]="CurrentAirLineCost.SellFor" formControlName="SellFor" type="text"
                            class="form-control" [ngClass]="{'form-submitted': airlineCostFormSubmitted}">
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>

                    <!-- this button is hidden, used to close from typescript -->
                    <button class="btn btn-outline-danger btn-sm" type="button" id="airline-cost-close-modal"
                        data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="equipmentsModal">
    <form [formGroup]="EquipmentsForm" (ngSubmit)="SaveEquipments()">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add Equipments</h4>
                    <button type="button" class="close" (click)="hideAirLineCostModal()">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">

                    <div class="form-group">
                        <label for="">Equipment Name</label>
                        <input [(ngModel)]="CurrentEquipment.EquipmentName" formControlName="EquipmentName" type="text"
                            class="form-control" [ngClass]="{'form-submitted': equipmentsFormSubmitted}">
                    </div>
                    <div class="form-group">
                        <label for="">Quantity</label>
                        <input [(ngModel)]="CurrentEquipment.Quantity" formControlName="Quantity" type="text"
                            class="form-control" [ngClass]="{'form-submitted': equipmentsFormSubmitted}">
                    </div>
                    <div class="form-group">
                        <label for="">Cost</label>
                        <input [(ngModel)]="CurrentEquipment.Cost" formControlName="Cost" type="text"
                            class="form-control" [ngClass]="{'form-submitted': equipmentsFormSubmitted}">
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>

                    <!-- this button is hidden, used to close from typescript -->
                    <button class="btn btn-outline-danger btn-sm" type="button" id="equipments-close-modal"
                        data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="otherChargesModal">
    <form [formGroup]="OtherChargesForm" (ngSubmit)="SaveOtherCharges()">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add Other Charges</h4>
                    <button type="button" class="close" (click)="hideOtherChargesModal()">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">

                    <div class="form-group">
                        <label for="">Charge Name</label>
                        <input [(ngModel)]="CurrentOtherCharges.ChargeName" formControlName="ChargeName" type="text"
                            class="form-control" [ngClass]="{'form-submitted': otherchargesFormSubmitted}">
                    </div>
                    <div class="form-group">
                        <label for="">Amount</label>
                        <input [(ngModel)]="CurrentOtherCharges.Amount" formControlName="Amount" type="text"
                            class="form-control" [ngClass]="{'form-submitted': otherchargesFormSubmitted}">
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>

                    <!-- this button is hidden, used to close from typescript -->
                    <button class="btn btn-outline-danger btn-sm" type="button" id="other-charges-close-modal"
                        data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="progressNotesModal">
    <form [formGroup]="ProgressNotesForm" (ngSubmit)="SaveProgressNotes()">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Progress Notes</h4>
                    <button type="button" class="close" (click)="hideProgressNotesModal()">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">

                    <div class="form-group">
                        <label for="">Notes</label>
                        <textarea [(ngModel)]="CurrentProgressNote.Description" formControlName="Description" name=""
                            id="" cols="30" rows="10" class="form-control"
                            [ngClass]="{'form-submitted': progressnotesFormSubmitted}"></textarea>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>

                    <!-- this button is hidden, used to close from typescript -->
                    <button class="btn btn-outline-danger btn-sm" type="button" id="progress-notes-close-modal"
                        data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="emailSupplierModal">
    <form [formGroup]="EmailSupplierForm" (ngSubmit)="SendSupplierEmail()">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Email Supplier for Price</h4>
                    <button type="button" class="close" (click)="hideEmailSupplierModal()">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">

                    <div class="form-group">
                        <label for="">Email To</label>
                        <input type="text" [(ngModel)]="EmailSupplier.EmailTo" formControlName="EmailTo" name=""
                            class="form-control" [ngClass]="{'form-submitted': emailSupplierFormSubmitted}">
                        <label for="">Flying From</label>
                        <input type="text" [(ngModel)]="EmailSupplier.FlyingFrom" formControlName="FlyingFrom" name=""
                            class="form-control" [ngClass]="{'form-submitted': emailSupplierFormSubmitted}" readonly>
                        <label for="">Flying To</label>
                        <input type="text" [(ngModel)]="EmailSupplier.FlyingTo" formControlName="FlyingTo" name=""
                            class="form-control" [ngClass]="{'form-submitted': emailSupplierFormSubmitted}" readonly>
                        <label for="">Email Body</label>
                        <textarea [(ngModel)]="EmailSupplier.EmailBody" formControlName="EmailBody" name="" id=""
                            cols="30" rows="6" class="form-control"
                            [ngClass]="{'form-submitted': emailSupplierFormSubmitted}"></textarea>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button *ngIf="loadingSendSupplierEmail" style="font-size:16px" type="submit"
                        class="btn btn-outline-primary btn-sm" disabled>
                        Sending Email
                    </button>
                    <button *ngIf="!loadingSendSupplierEmail" type="submit" class="btn btn-outline-primary btn-sm">Send
                        Email</button>

                    <!-- this button is hidden, used to close from typescript -->
                    <button class="btn btn-outline-danger btn-sm" type="button" id="email-supplier-close-modal"
                        data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </form>
</div>