<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div id="content-wrapper">
        <div id="content">
            <app-topbar></app-topbar>
            <div class="container-fluid">
                <div class="nav" style="margin-bottom:10px;">
                    <span><a href="home">Dashboard</a></span> &nbsp; / &nbsp;<span>Suppliers</span>
                </div>
                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">Suppliers</h1>
                <div class="row">
                    <div class="offset-lg-9 col-lg-3">
                        <a style="float:right;margin-bottom:10px;" class="btn btn-sm btn-outline-primary" routerLink="/supplier">+ Add Supplier</a>
                    </div> 
                    
                    
                    <div class="col-lg-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                Search Criteria
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">                                       
                                        <div class="form-group col-lg-4">
                                            <label for="">Supplier Name</label>
                                            <input type="text" class="form-control" name="SupplierName"
                                                [(ngModel)]="S_SupplierName">
                                        </div>
                                        
                                        <div class="form-group col-lg-4">
                                            <label for="">Status</label>
                                            <select name="" id="" class="form-control" name="Status"
                                                [(ngModel)]="S_Status">
                                                <option value=""></option>
                                                <option value="0">In Active</option>
                                                <option value="1">Active</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="offset-lg-10 col-lg-2">
                                            <button (click)="GetSuppliers()" style="float:right"
                                                class="btn btn-outline-primary">
                                                <span class="fa fa-search"></span>
                                                Search
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                Suppliers
                            </div>
                            <div class="card-body">
                                <app-loader *ngIf="loadingSuppliers"></app-loader>
                                <table *ngIf="!loadingSuppliers" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Supplier ID</th>
                                            <th>Supplier Name</th>
                                            <th>Charge Per Mile</th>      
                                            <th>Status</th>                                      
                                            <th class="text-center"><span class="fas fa-edit"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let supplier of Suppliers">
                                            <td></td>
                                            <td>{{supplier.uid}}</td>
                                            <td>{{supplier.SupplierName}}</td>
                                            <td>{{supplier.ChargePerMile}}</td>
                                            <td>
                                                <span class="label label-primary"
                                                    *ngIf="supplier.Status=='0'">in active</span>
                                                <span class="label label-primary"
                                                    *ngIf="supplier.Status=='1'">active</span>
                                            </td>
                                            <td class="text-center">
                                                <a routerLink="/supplier/{{supplier.uid}}" class="btn btn-sm btn-outline-primary">
                                                    <span class="fas fa-edit"></span>
                                                </a>
                                            </td>                                           
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>