<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div id="content-wrapper">
        <div id="content">
            <app-topbar></app-topbar>
            <div class="container-fluid">
                <div class="nav" style="margin-bottom:10px;">
                    <span><a href="home">Dashboard</a></span> &nbsp; / &nbsp;<span>Active Quotes</span>
                </div>
                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">Active Quotes</h1>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                Search Criteria
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="form-group col-lg-3">
                                            <label for="">Service Type</label>
                                            <select class="form-control" name="ServiceType" [(ngModel)]="S_ServiceType">
                                                <option value=""></option>
                                                    <option value="Air Ambulance"> Air Ambulance</option>
                                                    <option value="Com Stretcher"> Com Stretcher</option>
                                                    <option value="Med Escort"> Med Escort</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label for="">Flying From</label>
                                            <input type="text" class="form-control" name="FlyingFrom"  [(ngModel)]="S_FlyingFrom">
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label for="">Flying To</label>
                                            <input type="text" class="form-control" name="FlyingTo" [(ngModel)]="S_FlyingTo">
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label for="">Patient Name</label>
                                            <input type="text" class="form-control" name="PatientName" [(ngModel)]="S_PatientName">
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label for="">Caller Name</label>
                                            <input type="text" class="form-control" name="CallerName" [(ngModel)]="S_CallerName">
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label for="">Caller Email</label>
                                            <input type="text" class="form-control" name="CallerEmail" [(ngModel)]="S_CallerEmail">
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label for="">Caller Phone</label>
                                            <input type="text" class="form-control" name="CallerPhone" [(ngModel)]="S_CallerPhone">
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label for="">Status</label>
                                            <select name="" id="" class="form-control" name="Status" [(ngModel)]="S_Status">
                                                <option value=""></option>
                                                <option value="0">Pending</option>
                                                <option value="1">Offer Created</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="offset-lg-10 col-lg-2">
                                            <button (click)="GetRequests()" style="float:right" class="btn btn-outline-primary">
                                                <span class="fa fa-search"></span>
                                                Search
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                Available Requests
                            </div>
                            <div class="card-body">
                                <!-- <button (click)="AddAirLineCost()" style="margin-bottom:5px;width:40px;"
                                    class="btn btn-sm btn-outline-primary"><span class="fas fa-plus"></span></button> -->
                                <app-loader *ngIf="loadingRequests"></app-loader>
                                <table *ngIf="!loadingRequests" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Request ID</th>
                                            <th>Service Type</th>
                                            <th>Flying From</th>
                                            <th>Flying To</th>
                                            <th>No of Passengers</th>
                                            <th>Caller Contant</th>
                                            <th>Caller Email</th>
                                            <th>Status</th>
                                            <th class="text-center"><span class="fas fa-edit"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let request of Requests">
                                            <td></td>
                                            <td>{{request.uid}}</td>
                                            <td>{{request.ServiceType}}</td>
                                            <td>{{request.FlyingFrom}}</td>
                                            <td>{{request.FlyingTo}}</td>
                                            <td>{{request.NoOfPassengers}}</td>
                                            <td>{{request.CallerPhone}}</td>
                                            <td>{{request.CallerEmail}}</td>
                                            <td>
                                                <span class="label label-primary" *ngIf="request.Status=='0'">pending</span>
                                                <span class="label label-primary" *ngIf="request.Status=='1'">offer created</span>
                                                <span class="label label-primary" *ngIf="request.Status=='2'">cancelled</span>
                                            </td>
                                            <td class="text-center">
                                                <a 
                                                routerLink="/request/{{request.uid}}"
                                                    class="btn btn-sm btn-outline-primary">
                                                    <span class="fas fa-edit"></span>
                                                </a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>